<ion-header>
  <ion-navbar color="primary">
    <ion-title>New Translation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <img [src]="imageView" *ngIf="imageView" /> -->
 
  <angular-cropper #angularCropper (touchstart)="cropperTouchStart($event)" [cropperOptions]="cropperOptions" [imageUrl]="imageView" *ngIf="imageView"></angular-cropper>
  <ion-row *ngIf="imageView">
    <ion-col col-4>
      <button ion-button outline icon-left color="primary" (click)="zoom(true)">
        <ion-icon name="add"></ion-icon> Zoom
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button outline icon-left color="primary" (click)="zoom(false)">
        <ion-icon name="remove"></ion-icon> Zoom
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button outline icon-left (click)="rotate()">
        <ion-icon name="refresh"></ion-icon> Rotate
      </button>
    </ion-col>
  </ion-row>

  <p *ngIf="!imageView">Take a photo to translate text</p>
  <ion-row *ngIf="imageView">
    <ion-col>
      <ion-item>
        <ion-label floating>Photo name</ion-label>
        <ion-input type="text" name="name" [(ngModel)]="imageName"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  
  

  <div class="progress" *ngIf="state.progressPercent > 0">
    <ion-row>
      <ion-col class="spinner-container" col-2 *ngIf="state.progressPercent != 100">
        <ion-spinner></ion-spinner>
      </ion-col>
      <ion-col>
        {{ state.progressMessage }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="progress-outer">
            <div class="progress-inner" [style.width]="state.progressPercent + '%'">
                {{state.progressPercent}}%
            </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="state.translatedText">
    <p class="title">Original Text</p>
    <p class="original">{{ state.originalText }}</p>
    <p class="title">Translation</p>
    <p class="translation">{{ state.translatedText }}</p>
  </div>
  <br/>
  <button ion-button full (click)="openCamera()">Open Camera</button>
  <button ion-button *ngIf="imageName && imageData" full (click)="uploadPhoto()">Upload photo</button>
    
</ion-content>